@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@500&display=swap');

:root {
        --poppins: 'Poppins', sans-serif;
        --lora: 'Lora', serif;
        --white: hsl(0, 0%, 99%);
        --black: hsl(0, 0%, 3%);
        --grey: hsl(0, 0%, 27%);
}

/* LAYAOT*/

body {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        font-family: var(--lora);
        font-size: 13px;
        background-color: var(--white);
        color: var(--black);
}

body::before {
        position: absolute;
        content: "";
        width: 80%;
        height: 100vh;
        left: 4em;
        top: 15em;
        background: url("/images/bg.png") no-repeat;
        background-size: contain;
        transform: rotateY(180deg);
        opacity: .4;
        z-index: -5;
}

.header,
.main {
        display: flex;
        align-items: center;
        padding: 1em 1.5em;
}

.header {
        justify-content: flex-end;
}
.main {
        flex-direction: column;
        justify-content: center;
}


/* Saludo */
.greeting{
        color: var(--grey);
}

/* Buscador */
.paragraph {
        margin-top: 1em;
        margin-bottom: .5em;
        font-family: var(--poppins);
        font-size: 2em;
        text-align: center;
}



/* Receta*/

.section__recipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin-top: 4em;
}

.card__recipe {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        background-color: #ffffff;
        border-radius: .5em;
        margin-bottom: 3em;
}
.card__recipe::before,
.card__recipe::after {
        position: absolute;
}

.card__recipe:nth-child(1n)::before {
        content: url(/images/wasi_tape1.png);
        top: -1.1em;
        left: -6.2em;
        transform: rotate(-35deg) scale(0.45);
}
.card__recipe:nth-child(4n +1)::after {
        content: url(/images/wasi_tape2.png);
        bottom: -1.3em;
        right: -6.2em;
        transform: rotate(-35deg) scale(0.4);
}

.card__recipe:nth-child(2n)::before {
        content: url(/images/wasi_tape3.png);
        opacity: .7;
        top: 10em;
        left: -8em;
        transform: rotate(-95deg) scale(0.5);
}

.card__recipe:nth-child(3n)::before {
        content: url(/images/wasi_tape4.png);
        opacity: .5;
        top: -2em;
        left: 9%;
        transform: rotate(-4deg) scale(0.5);
}

.title__recipe {
        font-family: var(--poppins);
        font-size: 2em;
        text-align: center;
        margin-top: 1em;
}

.subtitle {
        position: relative;
        font-size: 1.2em;
        font-variant: small-caps;
        font-weight: 700;
        margin-bottom: .5em;
        text-indent: 2em;
        color: var(--grey);
}
.subtitle::before {
        position: absolute;
        content: url(/images/ingredientes.png);
        top: -.53em;
        left: -2em;
        filter: invert(37%) sepia(7%) saturate(3049%) hue-rotate(243deg) brightness(93%) contrast(90%);

}

.list__ingredients {
        margin-bottom: 2em;
}

.list__item__ingredients {
       list-style-position: inside;
       margin-left: 1em;
}

.paragraph__elaboration {
        margin-top: 1em;
}
.paragraph__elaboration:last-child{
        margin-bottom: 1em;
}


/* Media queries*/

@media (min-width: 375px){
        .card__recipe:nth-child(3n)::before {
                left: 15%;
        }
        .title__recipe {
                margin-top: .8em;
        }
}

@media (min-width: 425px){
        .card__recipe:nth-child(3n)::before {
                left: 23%;
        }
}

@media (min-width: 425px){
        .card__recipe {
                padding: 1em 2em;
        }
        .card__recipe:nth-child(3n)::before {
                left: 35%;
        }
        
}