body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        font-family: $lora;
        font-size: 13px;
        background-color: #FDF9FD;
        color: $black;
        &::before {
                position: absolute;
                content: "";
                width: 80%;
                height: 100vh;
                left: 4em;
                top: 15em;
                background: url("../images/bg.png") no-repeat;
                background-size: contain;
                transform: rotateY(180deg);
                opacity: .4;
                z-index: -5;
        }
        .header,
        .main,
        .footer {
                display: flex;
                align-items: center;
                padding: 1em 1.5em;
        }
        .header {
                justify-content: flex-end;
                /* Greet */
                .greeting{
                        color: $grey;
                }
        }
        .main,
        .footer {
                flex-direction: column;
                justify-content: center;
        }
}