body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        font-family: $lora;
        font-size: 14px;
        background-color: $lightPurple;
        color: $black;
        &::before {
                position: absolute;
                content: "";
                width: 80%;
                min-height: 60vh;
                left: 4em;
                top: 18em;
                background: url("../images/bg.png") no-repeat;
                background-size: contain;
                transform: rotateY(180deg);
                opacity: .4;
                z-index: -5;
        }
        .header,
        .main,
        .footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding: 1em 1.5em;
        }
        .header {
                align-items: flex-end;
                color: $grey;
        }
        .main,
        .footer {
                align-items: center;
        }
        .footer {
                position: absolute;
                bottom: -1.5em;
                font-size: .6em;
                text-align: center;
                color: $grey;
        }
}