/// @access public
/// @author Vanesa Rodríguez


/// Definiendo colores
/// @group color
$white: hsl(0, 0%, 99%);

/// Definiendo colores
/// @group color
$black: hsl(0, 0%, 3%);

/// Definiendo colores
/// @group color
$grey: hsl(0, 0%, 27%);

/// Definiendo colores
/// @group color
$lightGrey: hsl(0, 5%, 92%);

/// Definiendo colores
/// @group color
$purple: hsl(300, 30%, 30%);


/// Definiendo colores
/// @group color
$lightPurple: hsl(300, 9%, 98%);

/// Definiendo fuentes
/// @group fuentes
$poppins: 'Poppins', sans-serif;

/// Definiendo fuentes
/// @group fuentes
$lora: 'Lora', serif;