/// @access public
/// @author Vanesa Rodríguez


/// Definiendo colores
/// @group primaryColor
$white: hsl(0, 0%, 99%);

/// Definiendo colores
/// @group primaryColor
$black: hsl(0, 0%, 3%);

/// Definiendo colores
/// @group primaryColor
$grey: hsl(0, 0%, 27%);

/// Definiendo colores
/// @group primaryColor
$lightGrey: hsl(0, 5%, 92%);


/// Definiendo fuentes
/// @group fuentes
$poppins: 'Poppins', sans-serif;

/// Definiendo fuentes
/// @group fuentes
$lora: 'Lora', serif;