doctype html
html(lang="es")
        head
                meta(charset="UTF-8")
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                link(rel="stylesheet" href="css/normalize.min.css" type="text/css")
                link(rel="stylesheet" href="css/style.min.css" type="text/css")
                title Las recetas de Teresa
        body
                header.header
                        p.greeting

                main.main
                        p.paragraph ¿Qué receta necesitas?
                        div.inputs
                                input#recipe.input__recipe(type="text", name="recipe" placeholder="Quiero cocinar…")
                                input#search__recipe.search__icon(type="image", value="Buscar" src="../dist/images/search_icon.png" disabled)
                                input#voice__search.search__icon(type="image", value="Búsqueda por voz" src="../dist/images/voice_icon.png")
                        section.section__recipe

                script(src="js/app.js")