

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Recetas
    link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="css/base/normalize.min.css")
    link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="css/style.min.css")
    link(rel="shortcut icon" href="assets/favicon.webp" type="image/webp" sizes="32x32")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap")
    meta(name="description" content="Recipe app")
    meta(name="robots" content="index follow")
    meta(name="author" content="Vanesa Rodríguez")
    meta(name="copyright" content="Vanesa Rodríguez")

  body

    // HEADER
    header.header
      a.logo(href="#" title="Las recetas de" aria-label="Ir a la página de inicio")
        img(src="assets/images/logo.webp" alt="Ir a la página de inicio")

      div.interaction
        p.greeting.paragraph   
        button.interaction__login.btn.btn--primary.user__logged--out(aria-haspopup="true" aria-label="Entra") Entra
        button.interaction__logout.btn.btn--primary.user__logged--in(aria-label="Cerrar sesión") Cerrar sesión


    // MAIN
    main.main
        
      //- Modales
      div.modal__container

        div.modal.modal__login
          form.form.form__login
            //- +icon-close
            //- +icon-logo

            div.form__login--withEmail
              //- +input-required("email__login", "Email", "email")
              //- +input-password("password__login", "Contraseña", "password", "assets/icons/icon-eye-close.webp", "Mostrar contraseña")
              p.paragraph.link.link__password ¿Olvidaste tu contraseña?
              button.btn__submit.btn__submit--login.btn--primary(disabled) Entrar
        

        div.modal.modal__resetPassword
          form.form.form__resetPassword
            div.form__reset__step.step--show
              //- +icon-close
              //- +icon-logo
              p.paragraph Escribe la dirección de correo electrónico con la que te registraste y solicita una nueva contraseña.
              //- +input-required("email__recovery", "", "email")
              div.form__reset--password
                button.btn__submit.btn__submit--resetPassword.btn--primary(disabled) Solicitar contraseña
              
            div.form__reset__step.email__send
              p.paragraph Te hemos enviado un mensaje para modificar tu contraseña. ¡No olvides revisar tu carpeta de spam!
              div.container__image
                img.image(src="assets/images/states/email_send.webp", alt="Mensaje enviado")


      p.paragraph ¿Qué receta necesitas?
      div.inputs
              input#recipe.input__recipe(type="text", name="recipe" placeholder="Quiero cocinar…")
              input#search__recipe.search__icon(type="image", value="Buscar" src="../dist/images/search_icon.png" disabled)
              input#voice__search.search__icon(type="image", value="Búsqueda por voz" src="../dist/images/voice_icon.png")
      section.section__recipe
    
    // FOOTER
    footer.footer
      p.attribution © Vanesa Rodríguez 
        span.attribution__year(data-create="2023")


